.empty-page {
  min-height: 80vh;
}

.block-wrapper {
    height: 100%;
}

.block-title, .news-title {
    color: #252525;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 900;
}

.block-subtitle, .news-subtitle {
    color: #252525;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 900;
}

.block-text {
    padding-top: 1.5rem;
    line-height: 2;
}

.tween-card {
    border: none;
}

.tween-card img {
    width: 100%;
    max-height: 100%;
}

#apps-animation {
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#login {
  min-height: 100vh;
}

.eu__img {
  width: 100%;
}

.login-wrapper {
  position: relative;
  top:0;
  bottom: 0;
  height: 60vh;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.lines {
    width: 85%;
    margin-top: -85%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#left, #right {
  width: 32px;
}

.carousel-control-prev,
.carousel-control-next {
  /*background-color: #252525;
  opacity: .1;*/
}

@media screen and (min-width : 480px) {
}
