.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

h5.modal-title {
  color: #252525 !important;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  line-height: 1.1;
  color: inherit;
  font-size: 1.75rem;
  font-style: italic;
  text-transform: uppercase ;
}

/* Bold fix */
.sp-bold {
  font-weight: 600;
}

#news {
  display : none;
}

.main-wrapper {
  position   : relative;
  background : #fff6d2;
}

.svg-container__content {
  position : absolute;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}

#mask {
  width  : 0;
  height : 0;
}

.omini {
  position : absolute;
  width    : 100%;
  height   : 100%;
}

.svg-container__content svg {
  width  : 100%;
  height : 100%;
}

.color-bg {
  fill : #fff6d2;
}

#tour-eiffel {
  z-index  : 1;
  position : absolute;
}

#brandev {
  z-index  : 2;
  position : absolute;
}

#duomo {
  z-index  : 3;
  position : absolute;
}

/* #logo-img { position: absolute; z-index: 7; max-width: 100%; } */

#street {
  z-index  : 8;
  position : absolute;
}

.group {
  overflow : hidden;
}

.color-1 {
  /* 989a9d */
  /* hover: ff888e */
  fill : #989a9d;
}

.color-2 {
  /* 85878a */
  /* hover: fc656d */
  fill : #85878a;
}

.color-3 {
  /* 606060 */
  /* hover: f43d47 */
  fill : #606060;
}

.color-4 {
  /* d9dbdc */
  /* hover: f7d5d9 */
  fill : #d9dbdc;
}

.color-5 {
  /* f1f1f2 */
  /* hover: */
  fill : #f1f1f2;
}

.color-6 {
  /* 6b6c6f */
  /* hover: fd4e50 */
  fill : #6b6c6f;
}

.color-7 {
  /* bdbfc1 */
  /* hover: f9b4b8 */
  fill : #bdbfc1;
}

.color-8 {
  /* ffffff */
  /* hover: f7f2f3 */
  fill : #ffffff;
}

.belgrado-g,
.bicocca-g,
.film-space-g,
.mic-g,
.nerve-centre-g {
  cursor : pointer;
}

.mic-g:hover > .color-1 {
  fill : #ff888e;
}

.mic-g:hover > .color-2 {
  fill : #fc656d;
}

.mic-g:hover > .color-3 {
  fill : #f43d47;
}

.mic-g:hover > .color-4 {
  fill : #f7d5d9;
}

.mic-g:hover > .color-5 {
  fill : #f1f1f2;
}

.mic-g:hover > .color-6 {
  fill : #fd4e50;
}

.mic-g:hover > .color-7 {
  fill : #f9b4b8;
}

.mic-g:hover > .color-8 {
  fill : #f7f2f3;
}

.film-space-g:hover > .color-1 {
  fill : #ff888e;
}

.film-space-g:hover > .color-2 {
  fill : #fc656d;
}

.film-space-g:hover > .color-5 {
  fill : #f1f1f2;
}

.nerve-centre-g:hover > .color-1 {
  fill : #ff888e;
}

.nerve-centre-g:hover > .color-2 {
  fill : #fc656d;
}

.nerve-centre-g:hover > .color-3 {
  fill : #f43d47;
}

.nerve-centre-g:hover > .color-5 {
  fill : #f1f1f2;
}

.nerve-centre-g:hover > .color-8 {
  fill : #f7f2f3;
}

.bicocca-g:hover > .color-1 {
  fill : #ff888e;
}

.bicocca-g:hover > .color-2 {
  fill : #fc656d;
}

.bicocca-g:hover > .color-3 {
  fill : #f43d47;
}

.bicocca-g:hover > .color-4 {
  fill : #f7d5d9;
}

.bicocca-g:hover > .color-8 {
  fill : #f7f2f3;
}

.belgrado-g:hover > .color-1 {
  fill : #ff888e;
}

.belgrado-g:hover > .color-2 {
  fill : #fc656d;
}

.belgrado-g:hover > .color-3 {
  fill : #f43d47;
}

.belgrado-g:hover > .color-4 {
  fill : #f7d5d9;
}

.modal-trans {
  z-index : 9;
}

.modal-close-btn {
  z-index : 10;
  cursor  : pointer;
}

.close-btn {
  z-index : 11;
  cursor  : pointer;
}

.modal__inner {
  width : 100%;
}

.modal__inner,
.modal__link,
.modal__location {
  z-index  : 11;
  position : absolute;
  color    : #252525;
}

.modal-text-class {
  z-index : 11;
}

.modal-text-title {
  padding     : 120px 5% 20px 5%;
  font-family : monospace;
}

.map-place,
.web-link {
  z-index : 12;
}

.modal-location p {
  text-align  : center;
  font-family : monospace;
}

.modal-text-inner {
  width         : 70%;
  height        : 80vh;
  max-height    : 600px;
  margin-bottom : 20px;
  padding       : 0 5% 20px 5%;
  overflow      : scroll;
}

.modal-text-class p {
  font-family : monospace;
  line-height : 2;
}
