@import "packery.css";
@import "animations.new.css";

main {
  width: 100%;
  overflow: hidden;
}

.sp-center {
    text-align: center;
}

.featured-image {
    width: 100%;
    height: 50%;
    background-color: #FDD351 !important;
    background-blend-mode: screen;
}

.image-dimension {
    content: '';
    height: 320px;
}

.title {
    color: #252525;
    font-size: 2rem;
}

.single-post-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.modal-body p {
    line-height: 2;
}

@media screen and (min-width: 480px) {
    .title {
        font-size: 4rem !important;
    }
    .links>a {
        display: inline-block;
        line-height: 1.5;
    }
}
