.animations-wrapper {
    position: relative;
    overflow: hidden;
}

.animations-wrapper section {
    position: relative;
    min-height: 100vh;
}

.tween-content-container {
    z-index: 2;
    position: absolute;
    padding: 40px;
    border: 8px solid #252525;
}

.tween-image-container {
    z-index: 1;
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
}

.tween-card {
    border: none !important;
}


/* Typography */

.tween-title {
    color: #252525;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 900;
}

.tween-subtitle {
    color: #252525;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 900;
}

.tween-card svg {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#container-1 {
    top: 240px;
    width: 80%;
}

#container-2 {
    top: 380px;
    width: 60%;
    height: 40%;
}

#container-3 {
    top: 140px;
    width: 85%;
}

#container-4 {
    top: 240px;
    width: 75%;
    height: 90%;
}

#apps-animation{
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.lines {
  margin-top: -85%;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 85%;
}

#partners,
#apps,
#resources,
#login {
    top: 128px;
}

.screen, .blink1, .blink2, .blink2, .blink3, .circle1, .circle2, .pen {
  opacity: 0;
}

@media screen and (min-width: 480px) {
    .tween-title {
        font-size: 1.5rem !important;
    }

    .tween-card svg {
        width: auto;
        margin-left: auto;
        transform: none;
    }

    #container-1 {
        top: 240px;
        width: 65%;
    }
    #container-2 {
        top: 390px;
        width: 45%;
        height: 40%;
    }
    #container-3 {
        top: 140px;
        width: 55%;
    }
    #container-4 {
        top: 240px;
        width: 45%;
        height: 90%;
    }
}
