.timelines-group {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  white-space: nowrap;
}

.time-nav-indicator {
  position: absolute;
  height: 100%;
  width: 1px;
  left: 50%;
  top: 0px;
  background-color: blue;
  box-shadow: 0px 0px 3px #888897;
}

.time-nav-indicator > .time-nav-hand {
  border-radius: 50px;
  background-color: green;
  height: 10px;
  width: 10px;
}

.timeline-part {
  border-top: 1px dotted grey;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  position: relative;
}

.timelinesHeaders {
  vertical-align: top;
  display: inline-block;
  background-color: gray;
  color: white;
}

.timeline-header {
  width: 150px;
}

.timelinesContainer {
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 100%;
}

.timeline-content {
  background-color: lightgray;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
}

.timeline-event {
  display: inline-block;
  position: absolute;
  height: 95%;
  background-color: lightblue;
}

.timeline-event.selected {
  background-color: yellow;
}